body {
    background: url(https://stmed.net/sites/default/files/train-station-wallpapers-28950-3480280.jpg);
}

#table {
    color: white;
    width: 70%;
    margin-left: 200px; 
    margin-top: 20px;
}

#form {
    background-color: silver;
    color: black;
    width: 70%;
    margin-left: 200px; 
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
}

#submit {
    margin-bottom: 20px;
    margin-left: 40%;
}